/*
* Breadcrumb
*/
.breadcrumbs {
    color: var(--secWhite);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    max-width: 1200px;
    margin: 32px auto;
}

.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb:after {
    content: '>';
    margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
    display: none;
}

.breadcrumbs .crumb a {
    color: var(--secWhite);
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
}

.breadcrumbs .crumb:last-child a{
    color: var(--primePink);
    font-size: 14px;
    text-decoration: none;
}