/*
* Headline
*/

.headline {
    height: 71px;
    width: fit-content;
    position: relative;
}

.headlineBufferUpper {
    display: flex;
    flex-direction: row;
    margin-bottom: -21px;
}

.headlineBufferLower {
    display: flex;
    flex-direction: row;
    margin-top: -6px;
}

.headline p {
    display: inline;
    padding-left: 113px;
    padding-right: 113px;
    padding-top: 14px;
    padding-bottom: 10px;
    color: var(--secWhite);
    line-height: 47px;
    font-size: 36px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bolder;
}

.headlineOL {
    border-top: 4px solid var(--secRose);
    border-left: 4px solid var(--secRose);

    width: 106px;
    height: 36px;
}

.headlineBuffer {
    flex: 1;
}

.headlineUR {
    border-bottom: 4px solid var(--secRose);
    border-right: 4px solid var(--secRose);

    width: 143px;
    height: 16px;
}
