/*
* Navbar
*/

.nav {
    background-color: #560BAD;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;

    height: 64px;
    /*width: 1440px;*/
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.nav li {
    border-left: 1px solid white;
    width: 299px;
}

.nav li:last-child {
    border-right: 1px solid white;
    width: 298px;
}

.nav li.active {
    background-color: #120348;
}

.nav li:hover {
    color: #FF6DB0;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 64px;
    width: 299px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
* Headline
*/

.headline {
    position: relative;
    text-align: center;
    margin: 0px;

    height: 92px;
}

.headline p {
    position: absolute;
    margin: 0px;
    padding-left: 113px;
    padding-right: 113px;
    padding-top: 14px;
    padding-bottom: 10px;
    color: white;
    line-height: 47px;
    font-size: 36px;

    left: 0px;
    top: 0px;
}

.headlineOL {
    position: absolute;
    border-top: 4px solid #EEC8ED;
    border-left: 4px solid #EEC8ED;

    width: 106px;
    height: 36px;
}

.headlineUR {
    position: absolute;
    border-bottom: 4px solid #EEC8ED;
    border-right: 4px solid #EEC8ED;

    bottom: 0px;
    right: 0px;
    width: 143px;
    height: 16px;
}

/*
* Breadcrumb
*/
.breadcrumbs {
    color: white;
    max-width: 1200px;
    margin: 32px auto;
}

.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb:after {
    content: '>';
    margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
    display: none;
}

.breadcrumbs .crumb a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
}

.breadcrumbs .crumb:last-child a{
    color: #FF6DB0;
    font-size: 14px;
    text-decoration: none;
}

/*
*NavIconGroup
*/  
.navIconGroup {
    display: flex;
}

.navIconGroupItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
}

.navIconGroupItem img {
    width: 40px;
    height: 40px;
}

.navIconGroupItem p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12px;
}
.navIconGroupItemCount
{
    position: absolute;
    color: #FF6DB0;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}