/*
*NavIconGroup
*/
.navIconGroup {
    display: flex;
    justify-content: space-between;
}

.background {
    background-image: url("./assets/pubg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 448px;
}

.logo {
    margin-top: 16px;
    margin-left: 26px;
}

.icons {
    margin-top: 16px;
    margin-right: 13px;
}

.navIconGroup div {
    display: flex;
}

.navIconGroupItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 13px;
}

.navIconGroupItem img {
    width: 40px;
    height: 40px;
}

.navIconGroupItem a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.account_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.navIconGroupItem p {
    color: var(--secWhite);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12px;
}
.navIconGroupItemCount
{
    position: absolute;
    color: var(--primePink);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

/*PopUp*/
body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content p {
    font-family: 'Roboto', monospace;
    font-size: 24px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.close-modal img {
    cursor: pointer;
}