body {
  margin: 0;
  background-color: var(--bgColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bgColor:#120348;
  --primePink: #FF6DB0;
  --primePink2: rgba(255, 109, 176, 0.6);
  --primeBlue: #2E2C9A;
  --secWhite: #fff;
  --secRose: #EEC8ED;
  --terLightBG: #E7E4F9;
  --terBGDetail: #560BAD;
  --terGreen: #00AB00;
  --terBlack: #000000;
  --terLightGrey: #AAAAAA;
  --terDarkGrey: #808080;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}