* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .event-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 216px;
    height: 388px;
    border: 2px solid #EEC8ED;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .event-card__image{
    position: relative;
    width: 100%;
    height: 184px;
    align-items: center;
    order: 0;
    flex-grow: 0;
    overflow: hidden;
  }
  
  .event-card__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .event-card__image button {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 176px;
    top: 10px;
    background-color: transparent;
    border: none;
  }

  .event-card__image button .button-icon {
    width: 23px;
    height: 22px;
    background-size: contain;
    background-image: url("./assets/favorites-empty.svg");
  }
  
  .eventtitle-box {
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0.01%, #000000 83.85%, #000000 100%);
    border-bottom: 2px solid #000000;
  }
  
  .eventtitle-box .title {
    gap: 10px;
    mix-blend-mode: normal;
  }
  
  .eventtitle-box .title p{
    width: 111px;
    height: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .genres {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    width: stretch;
    height: 13px;
  }
  
  .genres .eventtype {
    width: stretch;
    height: 13px;
    border-right: 1px solid #AAAAAA;
  }
  .genres .game {
    width: stretch;
    height: 13px;
    border-left: 1px solid #AAAAAA;
  }
  .genres p{
    text-align: center;
    width: stretch;
    height: 13px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: #AAAAAA;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px;
  }
  .eventinformation-box {
    padding: 7px 14px;
    box-sizing: border-box;
  }
  .eventname {
    align-items: center;
    margin: 5px 0px;
    width: strech;
    height: 21px;
  }
  .eventname p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .event-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    width: 190px;
    height: 117px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }
  
  .event-information div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 166px;
    height: 18px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .event-information .card-price img {
    width: 17px;
    height: 17px;
  }
  .event-information .card-date img {
    width: 17px;
    height: 21px;
  }
  .event-information .card-location img {
    width: 17px;
    height: 21px;
  }
  .event-information p{
    width: 139px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
  }